/* Existing CSS */
body {
    font-family: 'Nanum Pen Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px !important;
    margin: 0;
    height: 75vh
    
}

h2 {
    font-size: 60px;
    line-height: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fed580;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border-radius: 30px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
}

.base-and-options {
    display: flex;
    align-items: flex-start;
}

.base-image {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    margin-left: 5px !important;
    background-color: white; /* Add white background here */
    border-radius: 16px; /* Match the base image border radius */
    overflow: hidden; /* Ensure no overflow outside the border */
    padding-bottom: 15px;
}

#base {
    width: 400px;
    height: auto;
    border: 8px solid #ffff;
    border-radius: 16px;
    position: relative;
    z-index: 2;
}

#background-overlay, #outfit-overlay, #hat-overlay, #face-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 2%);
    width: 400px;
    height: auto;
    border-radius: 7px;
}

#background-overlay {
    z-index: 1;
}

#hat-overlay {
    z-index: 2;
}

#face-overlay {
    z-index: 3;
}

#outfit-overlay {
    z-index: 4;
}

.hidden {
    display: none;
}

.outfit-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Change to align items to the start */
}

.outfit-options {
    display: flex;
    justify-content: flex-start; /* Change to justify items to the start */
    flex-wrap: wrap;
}

.outfit {
    width: 65px;
    height: auto;
    margin: 7px;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 16px;
    transition: transform 0.2s;
    background-color: white;
}

.outfit:hover {
    transform: scale(1.1);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#reset-button, #download-button {
    padding: 10px 20px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    background-color: #FFA500;
    color: #fff;
    transition: background-color 0.2s;
    width: 150px; /* Set a fixed width for both buttons */
    text-align: center; /* Center the text inside the buttons */
}

#reset-button:hover, #download-button:hover {
    background-color: #ff8b00;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 34px;
    color: #3a2104;
    text-align: left; /* Change to left align the text */
}
