/* Existing CSS */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 73px !important;
    margin: 0;
    height: 70vh;
}

h2 {
    font-size: 40px;
    line-height: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fed580;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 16px #d47f01;
}

.base-and-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.base-image {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    margin-left: 5px !important;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    padding-bottom: 15px;
}

#base {
    width: 400px;
    height: auto;
    border: 8px solid #ffff;
    border-radius: 16px;
    position: relative;
    z-index: 2;
}

#background-overlay, #outfit-overlay, #hat-overlay, #face-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    height: auto;
    border-radius: 7px;
}

#background-overlay {
    z-index: 1;
}

#hat-overlay {
    z-index: 2;
}

#face-overlay {
    z-index: 3;
}

#outfit-overlay {
    z-index: 4;
}

.hidden {
    display: none;
}

.outfit-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
}

.outfit-options {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.outfit {
    width: 65px;
    height: auto;
    margin: 7px;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 16px;
    transition: transform 0.2s;
    background-color: white;
}

.outfit:hover {
    transform: scale(1.1);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#reset-button, #download-button {
    padding: 10px 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    background-color: #FFA500;
    color: #fff;
    transition: background-color 0.2s;
    width: 150px;
    text-align: center;
}

#reset-button:hover, #download-button:hover {
    background-color: #ff8b00;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    color: #623b04;
    text-align: left;
}

/* Media Queries for responsiveness */
@media (max-width: 1050px) {
    body{
       height:  860px !important;
    }
    #base {
        width: 300px;
    }
    #background-overlay, #outfit-overlay, #hat-overlay, #face-overlay {
        width: 300px;
    }
    .base-and-options {
        flex-direction: column;
        align-items: center;
    }
    .button-container {
        flex-direction: row; /* Keep the buttons in a row */
        justify-content: center; /* Center the buttons */
    }
}

@media (max-width: 768px) {

    body {
        margin-top: 20px !important;
    }
    .base-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .outfit {
        width: 55px;
        margin: 5px;
    }
    .button-container {
        flex-direction: row; /* Keep the buttons in a row */
        justify-content: center; /* Center the buttons */
    }
    #reset-button, #download-button {
        width: 100px;
        font-size: 18px;
    }
}

@media (max-width: 520px) {

    body {
        margin: 0;
        height: 400px;
        margin-top: 20px !important;
    }
    
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    #base {
        width: 250px;
    }
    #background-overlay, #outfit-overlay, #hat-overlay, #face-overlay {
        width: 250px;
    }
    .outfit {
        width: 45px;
        margin: 5px;
    }
    .game-container {
        padding: 20px;
        box-shadow: none;
    }
    .button-container {
        flex-direction: row; /* Keep the buttons in a row */
        justify-content: center; /* Center the buttons */
    }
    #reset-button, #download-button {
        width: 90px;
        font-size: 14px;
    }}

